@charset "utf-8";

// $dark-blue: #2d2d2d;
// $yellow: #ead2ac;
// $white: #fdfdff;
// $blue: #285b7c;
// $light-red: #db5d3a;
// $grey: #c8d1af;
// $lighter-black: #1c1c1c;

// $primary: $light-red;
// $info: $blue;
// $link: $light-red;
// $dark: $dark-blue;
// $danger: $blue;
// $black: $lighter-black;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(0, 0, 0);
  margin: 1em 0;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* loading dots */

.loading {
  color: black;
  font: 300 4em/150% Impact;
  text-align: center;
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import "../../node_modules/bulma/bulma.sass";
